.stickyTop {
  position: sticky;
  top: 10px;
}

.highZ {
  z-index: 999999;
}

.offline {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
