.offline {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* For Safari compatibility */
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 555;
}

.matchHeader {
  position: sticky;
  top: 75px;
  z-index: 111;
}

.markLabel {
  display: none;
}

.wrapSingleLongText {
  overflow-wrap: break-word;
  white-space: normal;
}
