.playerImage {
  height: auto;
  width: auto;
  border-radius: 5px;
  object-fit: cover;
}

.mAuto {
  margin: auto;
}

.fullHeight {
  height: 100%;
}

.spaceBetween {
  justify-content: space-between;
}
