.playerImage {
  height: auto;
  width: auto;
  border-radius: 5px;
  object-fit: cover;
}

.mAuto {
  margin: auto;
}

.fullHeight {
  height: 100%;
}

.spaceBetween {
  justify-content: space-between;
}

.disabledState {
  pointer-events: none;
  opacity: 0.5;
  filter: grayscale(60%);
  -webkit-user-select: none;
  user-select: none;
}